.content {
  max-width: 46rem;
  width: 100%;

  margin: 0 auto;
}

.newTask {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 0.5rem;
}

.newTask input,
.newTask button {
  transform: translateY(-50%);
  margin-bottom: 2.3125rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 767px) {
  .content {
    padding: 1rem;
  }

  .newTask input,
  .newTask button {
    transform: translateY(-80%);
  }
}
